.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.dashboard {
  display: flex;
  height: 400px;
  padding: 15px;
}

.left {
  width: 50%;
  /* background-color: aqua; */
  margin-right: 10px;
}

.right {
  width: 50%;
  /* background-color: burlywood; */
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.name {
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 50%;
}

.exercise-table {
  margin-top: 15px;
}

